.menu__lista {
    color: #ffffff;
    display: flex;
    list-style-type: none;
    flex-wrap: wrap;
}

@media screen and (max-width: 780px){

    .menu__lista {
        padding: 0;
        gap: 1rem;
        justify-content: center;
    }
  
  }

  @media screen and (max-width: 330px){

    .menu__lista {
        justify-content: center;
    }
  
  }





