.container__video {
    display: flex;
    flex-direction: column;
    height: 93vh;
    margin-bottom: 10rem;
}

@media screen and (max-width: 780px){

    .container__video {
        height: 135vh;
    }
  
  }
