.container__video {
    display: flex;
    flex-direction: column;
    height: 93vh;
    margin-bottom: 8rem;
}

@media screen and (max-width: 780px){

    .container__video {
        height: auto;
        margin-bottom: 3rem;
        
    }
  
  }
