<!-- Header -->
<header class="main-header main-header-01 position-relative @@HeaderClass">
    <!-- Header -->
    @@include('./header-top/_header-top-02.html', {
    "path": "..",
    "imgPath": "../../assets",
    "HeaderTopClass": "small",
    "ContainerTopClass": "container",
    })
    <!-- End Header -->
    <nav class="navbar navbar-expand-lg">
        <div class="@@ContainerClass">
            <!-- Logo -->
            <a class="navbar-brand header-navbar-brand" href="index.html">
                <img class="logo-dark" src="@@imgPath/img/logo.svg" title="" alt="">
                <img class="logo-light" src="@@imgPath/img/logo-light.svg" title="" alt="">
            </a>
            <!-- Logo -->
            <!-- Menu -->
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a href="index.html" class="nav-link">Home</a>
                    </li>
                    <li class="nav-item">
                        <a href="about.html" class="nav-link">About</a>
                    </li>
                    <li class="nav-item">
                        <a href="services.html" class="nav-link">Services</a>
                    </li>
                    <li class="nav-item">
                        <a href="gallery.html" class="nav-link">Gallery</a>
                    </li>
                    <li class="nav-item">
                        <a href="book-a-tour.html" class="nav-link">Book a Tour</a>
                    </li>
                    <li class="nav-item">
                        <a href="contact.html" class="nav-link">Contact</a>
                    </li>
                </ul>
            </div>
            <!-- End Menu -->
            <div class="nav d-flex ps-4">
                <div class="nav-item dropdown me-3">
                    <button class="dropdown-toggle btn theme-switch-01" id="bd-theme" type="button" aria-expanded="false" data-bs-toggle="dropdown" data-bs-display="static">
                        <span class="bi theme-icon-active">
                            <i class="bi-circle-half"></i>
                        </span>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-end shadow" aria-labelledby="bd-theme" style="--bs-dropdown-min-width: 8rem;">
                        <li>
                            <button type="button" class="dropdown-item d-flex align-items-center" data-bs-theme-value="light">
                                <span class="bi me-2 opacity-50 theme-icon">
                                    <i class="bi-sun-fill"></i>
                                </span>
                                Light
                                <span class="bi ms-auto d-none">
                                    <i class="bi-check2"></i>
                                </span>
                            </button>
                        </li>
                        <li>
                            <button type="button" class="dropdown-item d-flex align-items-center" data-bs-theme-value="dark">
                                <span class="bi me-2 opacity-50 theme-icon">
                                    <i class="bi-moon-stars-fill"></i>
                                </span>
                                Dark
                                <span class="bi ms-auto d-none">
                                    <i class="bi-check2"></i>
                                </span>
                            </button>
                        </li>
                        <li>
                            <button type="button" class="dropdown-item d-flex align-items-center active" data-bs-theme-value="auto">
                                <span class="bi me-2 opacity-50 theme-icon">
                                    <i class="bi-circle-half"></i>
                                </span>
                                Auto
                                <span class="bi ms-auto d-none">
                                    <i class="bi-check2"></i>
                                </span>
                            </button>
                        </li>
                    </ul>
                </div>
                <!-- Mobile Toggle -->
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="toggler-icon"></span>
                </button>
                <!-- End Mobile Toggle -->
                <a href="book-a-tour.html" class="btn btn-primary text-nowrap btn-sm d-none d-lg-flex">Book a Tour</a>
            </div>
        </div>
    </nav>
</header>
<!-- End Header -->