<div class="header-top-01 @@HeaderTopClass">
    <div class="@@ContainerTopClass">
        <div class="row align-items-center">
            <div class="col-lg-6 d-none d-lg-block">
                <p class="m-0"><i class="bi-geo-alt"></i> 301 The Greenhouse London</p>
            </div>
            <div class="col-lg-6">
                <div class="nav justify-content-end">
                    <a class="nav-link ps-0 me-auto me-lg-0" href="#"><i class="bi-envelope"></i> support@domain.com</a>
                    <a class="nav-link pe-0" href="#"><i class="bi-phone"></i> +01 8585 855 855</a>
                </div>
            </div>
        </div>
    </div>
</div>