<div class="header-top-01 header-top-light @@HeaderTopClass bg-dark">
    <div class="@@ContainerTopClass">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <div class="nav d-flex">
                    <a class="nav-link ps-0" href="#"><i class="bi-phone"></i> +01 8585 855 855</a>
                    <a class="nav-link ms-auto ms-lg-0 pe-0" href="#"><i class="bi-envelope"></i> support@domain.com</a>
                </div>
            </div>
            <div class="col-lg-6 d-none d-lg-block">
                <div class="nav justify-content-end">
                    <a class="icon-sm bg-primary text-white rounded ms-2" href="#"><i class="bi-facebook"></i></a>
                    <a class="icon-sm bg-primary text-white rounded ms-2" href="#"><i class="bi-twitter"></i></a>
                    <a class="icon-sm bg-primary text-white rounded ms-2" href="#"><i class="bi-linkedin"></i></a>
                    <a class="icon-sm bg-primary text-white rounded ms-2" href="#"><i class="bi-instagram"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>