.banner {
    padding-top: 4rem;
    position: relative;
}

@media screen and (max-width: 780px){

    .banner {
        display: none;
    }
  
  }

@media screen and (max-width: 425px){

    .banner {
        display: none;
    }
  
  }