.card__conteudo {
    display: flex;
    flex-direction: column;
    padding: 1rem 2rem;
    align-items: center;
    color: white;
    height: calc(40%);
}

@media screen and (max-width: 1024px){

    .card__conteudo {
        height: auto;
    }
  
  }
