.card__conteudo {
    display: flex;
    flex-direction: column;
    padding: 1rem 2rem;
    align-items: center;
    color: white;
    height: calc(40%);
}

@media screen and (max-width: 1024){

    .card__conteudo {
        height: calc(60%);
    }
  
  }

@media screen and (max-width: 330){

    .card__conteudo {
        height: calc(50%);
    }
  
  }
