.titulo {
    color: #ffffff;
    font-size: 2rem;
}

@media screen and (max-width: 425px){

    .titulo {
        text-align: center;   
    }
  
  }

@media screen and (max-width: 330px){

    .titulo {
        text-align: center;   
    }
  
  }


