<!-- Footer -->
<footer class="bg-dark footer">
    <div class="footer-top py-7 py-md-8 py-lg-10">
        <div class="container">
            <div class="row gy-4">
                <div class="col-lg-8 col-xl-9">
                    <div class="row gy-5">
                        <div class="col-6 col-lg-3">
                            <h5 class="text-white footer-title-01 opacity-5">About</h5>
                            <ul class="list-unstyled footer-link-01 m-0">
                                <li><a class="link-white" href="#">Features </a></li>
                                <li><a class="link-white" href="#">Templates</a></li>
                                <li><a class="link-white" href="#">Integrations</a></li>
                                <li><a class="link-white" href="#">Team</a></li>
                            </ul>
                        </div>
                        <div class="col-6 col-lg-3">
                            <h5 class="text-white footer-title-01 opacity-5">Help</h5>
                            <ul class="list-unstyled footer-link-01 m-0">
                                <li><a class="link-white" href="#">Support</a></li>
                                <li><a class="link-white" href="#">Help Center</a></li>
                                <li><a class="link-white" href="#">Contact Us</a></li>
                            </ul>
                        </div>
                        <div class="col-6 col-lg-3">
                            <h5 class="text-white footer-title-01 opacity-5">Resources</h5>
                            <ul class="list-unstyled footer-link-01 m-0">
                                <li><a class="link-white" href="#">Ebooks</a></li>
                                <li><a class="link-white" href="#">Infographics</a></li>
                                <li><a class="link-white" href="#">Tools</a></li>
                                <li><a class="link-white" href="#">Videos</a></li>
                                <li><a class="link-white" href="#">Podcasts</a></li>
                            </ul>
                        </div>
                        <div class="col-6 col-lg-3">
                            <h5 class="text-white footer-title-01 opacity-5">Commercial</h5>
                            <ul class="list-unstyled footer-link-01 m-0">
                                <li><a class="link-white" href="#">Why Lander</a></li>
                                <li><a class="link-white" href="#">Pricing</a></li>
                                <li><a class="link-white" href="#">Custom Template</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                
                <div class="col-lg-4 col-xl-3">
                    <h5 class="text-white footer-title-01 opacity-5">Our Address</h5>
                    <address class="text-white text-opacity-85 small">
                    	<div class="d-flex">
                    		<div class="icon-md bg-primary text-white rounded-circle">
                    			<i class="bi-map"></i>
                    		</div>
                    		<p class="col ps-3">301 The Greenhouse London,<br> E2 8DY UK</p>
                    	</div>

                    	<div class="d-flex">
                    		<div class="icon-md bg-primary text-white rounded-circle">
                    			<i class="bi-envelope"></i>
                    		</div>
                    		<p class="col ps-3">support@domain.com<br> info@domain.com</p>
                    	</div>

                    	<div class="d-flex">
                    		<div class="icon-md bg-primary text-white rounded-circle">
                    			<i class="bi-phone"></i>
                    		</div>
                    		<p class="col ps-3">+01 8585 855 855<br> 02454 8523 856</p>
                    	</div>
                    </address>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom py-2 border-style top light">
        <div class="container">
            <div class="row gy-3 align-items-center">
            <div class="col-md-6">
                <ul class="nav justify-content-center justify-content-md-start my-2 links-white small list-unstyled footer-link-01 m-0">
                    <li class="p-0 mx-3 ms-md-0 me-md-3"><a href="#" class="link-white opacity-7">Privace &amp; Policy</a></li>
                    <li class="p-0 mx-3 ms-md-0 me-md-3"><a href="#" class="link-white opacity-7">Faq's</a></li>
                    <li class="p-0 mx-3 ms-md-0 me-md-3"><a href="#" class="link-white opacity-7">Get a Quote</a></li>
                </ul>
            </div>
            <div class="col-md-6 text-center text-md-end">
                <p class="text-white text-opacity-85 small m-0">© 2023 Mombo is Proudly Powered by <a href="http://uiocean.com/" target="_blank" class="link-white">uiocean</a></p>
            </div>
        </div>
        </div>
    </div>
</footer>
<!-- End Footer -->