<!-- Footer -->
<footer class="footer effect-section bg-no-repeat bg-cover bg-center" style="background-image: url(@@imgPath/img/bg/bg-banner-1.jpg);">
    <div class="mask bg-black opacity-8"></div>
    <div class="py-7 py-md-8 py-lg-10 position-relative">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-xl-3 pe-xl-5 mb-5 mb-lg-0">
                    <div class="pb-3">
                        <img src="@@imgPath/img/logo-light.svg" title="" alt="">
                    </div>
                    <p class="m-0 text-white text-opacity-85">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.</p>
                </div>
                <div class="col-lg-8 col-xl-9">
                    <div class="row gy-5">
                        <div class="col-lg-3 col-6">
                            <h6 class="mb-4 h5 text-white">About</h6>
                            <ul class="list-unstyled footer-link-01">
                                <li><a class="link-white" href="#">Features </a></li>
                                <li><a class="link-white" href="#">Templates</a></li>
                                <li><a class="link-white" href="#">Integrations</a></li>
                                <li><a class="link-white" href="#">Team</a></li>
                                <li><a class="link-white" href="#">Contact Us</a></li>
                            </ul>
                        </div>
                        <div class="col-lg-3 col-6">
                            <h6 class="mb-4 h5 text-white">Company</h6>
                            <ul class="list-unstyled footer-link-01">
                                <li><a class="link-white" href="#">Join our team</a></li>
                                <li><a class="link-white" href="#">Legal & Security</a></li>
                                <li><a class="link-white" href="#">Terms and Conditions</a></li>
                                <li><a class="link-white" href="#">Privacy Policy</a></li>
                                <li><a class="link-white" href="#">Affiliate Program</a></li>
                            </ul>
                        </div>
                        <div class="col-lg-3 col-6">
                            <h6 class="mb-4 h5 text-white">Resources</h6>
                            <ul class="list-unstyled footer-link-01">
                                <li><a class="link-white" href="#">Ebooks</a></li>
                                <li><a class="link-white" href="#">Infographics</a></li>
                                <li><a class="link-white" href="#">Tools</a></li>
                                <li><a class="link-white" href="#">Videos</a></li>
                                <li><a class="link-white" href="#">Podcasts</a></li>
                            </ul>
                        </div>
                        <div class="col-lg-3 col-6">
                            <h6 class="mb-4 h5 text-white">Social</h6>
                            <ul class="list-unstyled footer-link-01">
                                <li><a class="link-white" href="#">Facebook</a></li>
                                <li><a class="link-white" href="#">Twitter</a></li>
                                <li><a class="link-white" href="#">Instagram</a></li>
                                <li><a class="link-white" href="#">Dribbble</a></li>
                                <li><a class="link-white" href="#">Behance</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr class="m-0 position-relative">
    <div class="container py-4 position-relative">
        <p class="m-0 small text-center text-white text-opacity-85">© 2023 Mombo is Proudly Powered by <a href="http://pxdraft.com/" target="_blank" class="link-white">pxdraft</a></p>
    </div>
</footer>
<!-- End Footer -->